@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Outfit:wght@300;400;500;600&display=swap');

// Fonts
$nunito: 'Nunito', sans-serif;
$outfit: 'Outfit', sans-serif;

// Colours
$t-bg-grey: #EFEFEF;
$t-grey: #F0F0F0;
$t-dk-grey: #535353;
$t-blue: #244E73;
$t-green: #85B43E;

// mixin's
@mixin base-container {
    height: 530px;
    width: 100%;
    background-color: $t-bg-grey;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 5;
    position: absolute;
    margin-top: 208px;
}

@mixin page {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@mixin bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}